.topContainer {
    background-color: #1f2937;
}

.headerContainer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 25px;
    display: flex;
}

.headerLinks {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    padding-right: 20px;
    display: flex;    
}

.awesomeContainer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.acLeftSide h3 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.acLeftSide p {
    color: #e5e7eb;
    font-size: 18px;
}

.acLeftSide button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 20%;
    height: 35px;
    width: 90px;
}

.acRightSide {
    padding-right: 20px;
    margin: 0;
}

.imgBox {
    max-width: 400px;
    max-height: auto;
    
}

.middleContainer {
    font-family: Arial, Helvetica, sans-serif;
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.randHeader {
    display: flex;
    justify-content: center;
    align-self: center;
}

.infoImage {
    max-width: 150px;
    max-height: auto;
    border-style: inset;
    border-color: #3882f6;
}
